# Can ignore specific files
.DS_Store

# Use wildcards as well
.*

*~
*.swp

*.o

*.cmd

.config
.config.old

.missing-syscalls.d
.tmp_versions/

*.builtin
*.order
*.ko
*.a

.version

zImage
vmlinux
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
usr/.initramfs_data.cpio.d
Module.symvers
System.map
arch/arm/mach-msm/msm-buspm-dev.mod.c
drivers/net/kineto_gan.mod.c
drivers/net/wireless/bcm4329_248/bcm4329.mod.c
drivers/spi/spidev.mod.c

